@tailwind base;
@tailwind components;
@tailwind utilities;

/* Принудительно растягиваем .react-grid-layout на всю ширину */
.react-grid-layout {
  width: 100% !important;
}

/* Убираем лишние отступы */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Базовые стили для всего приложения */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
